body.Login_Body_Div {
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignIN_Div {
    display: flex;
    height: 33px;
    align-items: center;
    justify-content: center;
}


.Login_Main_Div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.Login_Main_Div1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    justify-content: center;
 
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: honeydew;
}



.SignUp_Div {
    height: 20px;
    display: flex;
    font-size: medium;
    flex: auto;
    display: flex;
}


.Login_Main_Div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    justify-content: center;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.SignIn_Button {
    width: 10px;
    height: 20px;
    display: flex;
    color: blue;
    cursor: pointer;
}




.Login_Main_Div3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    justify-content: center;
  
    align-items: center;
    display: flex;
    flex-direction: column;
}



.Login_Div {
    font-size: xx-large;
}


input.Input_Field {
    height: 29px;
    width: 180px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding-left: 5px;
}


.SignIN_Div {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 40px;
    size: legal;
}


.Input_Divs {
    padding: 2px;
    height: 40px;
}



.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

h2 {
    font-size: unset;
}


alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 1000px;
}




button.SignIn_Button {
    background: antiquewhite;
    color: black;
    border: aliceblue;
    height: 25px;
    cursor: pointer;
    width: auto;
    border: blue;
    border: solid;
}


button.SignIn_Button {
    background: antiquewhite;
    color: black;
    border: aliceblue;
    height: 25px;
    cursor: pointer;
    width: auto;
    border: blue;
    border: inset;
}



button#button_signIn {
    border: inset;
}